{% extends "base.html" %}
{% block body %}
    {% if session.logged_in %}
    <form action="{{ url_for('add') }}" method="post" class="add_entry">
      <dl>
        <dt>Post:
        <dd><textarea name="body" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for post in posts %}
    <li>
      {{ post.body|safe }}
      {% if session.logged_in %}
        <form action="/delete/{{ post.body|e }}" method="post">
          <input type="submit" value="Delete" />
        </form>
      {% endif %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}